
# /

# Doxygen/
Doxygen/html

# Tests/
Tests/Makefile.in

# Tests/vs2012/
Tests/vs2012/FortranAdvect.u2d
Tests/vs2012/Tests.opensdf
Tests/vs2012/Tests.sdf
Tests/vs2012/Tests.v11.suo
Tests/vs2012/mpi
Tests/vs2012/mpi_debug
Tests/vs2012/openmp
Tests/vs2012/openmp_debug
Tests/vs2012/vc110.pdb
Tests/vs2012/x64

# backup files
*~
.vshistory/

# autotools
aclocal.m4
configure
Makefile.in
autom4te.cache/
config/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4


# ignore directories beginning with '_'
_*/

# dist files
configure.ac.dist
Makefile.am.dist
doc/NOTICE.TXT.dist
doc/README.TXT.dist
src/PhreeqcRM.h.dist
src/IPhreeqcPhast/IPhreeqc/IPhreeqc.h.dist
src/IPhreeqcPhast/IPhreeqc/Version.h.dist
CMakeLists.txt.dist

# mod files (vscode extension?)
src/phreeqcrm.mod

# re-encoded files
src/IPhreeqcPhast/IPhreeqc/phreeqcpp/print.utf-8.cpp
src/IPhreeqcPhast/IPhreeqc/phreeqcpp/print.windows-1252.cpp

# Doxygen/make
src/BMI_interface.F90.save
src/RM_interface.F90.save
src/YAML_interface.F90.save

# wheels
dist/

# ex11-advect
swig/python/ex11-advect/ex11-advect.yaml
swig/python/ex11-advect/ex11-advect.chem.txt
swig/python/ex11-advect/ex11-advect.log.txt
swig/python/ex11-advect/.ipynb_checkpoints/

# default build directory when using vscode
build/

# Old CMakePresets build directories
builds/

# CMakePresets build directories
out/build/
